{% extends "base.html" %}

{% block content %}
{% if category_posts %}
    <h2> {{cats}} </h2>

    <ul>
        {% for post in category_posts %}
            <li> <a href = "{% url 'article-detail' post.pk%}" >{{ post.title }} </a> - {{ post.author.first_name }} {{ post.author.last_name }} - {{post.date_created}}  
                {% if user.is_authenticated %}
                    <small><a href = "{% url 'edit-article' post.pk %}"> (Edit) </a></small>
                    <small><a href = "{% url 'delete-article' post.pk %}"> (delete) </a></small>
                {% endif %}
                <br/>
                {{post.body|safe|truncatewords:20}}
            </li>
        
        {% endfor %}
    </ul>
{% else %}
   <h1>This page doesn't exist.</h1>
{% endif %}

{% endblock content %}