{% extends "base.html" %}



{% block content %}

<h1>Post</h1>

<ul>
{% for post in object_list %}
    <li> <a href = "{% url 'article-detail' post.pk%}" >{{ post.title }} </a> - {{ post.author.first_name }} {{ post.author.last_name }} - 
        <a href = "{% url 'category' post.category|slugify %}" >{{post.category}} </a> -{{post.date_created}}  
        {% if user.is_authenticated %}
            {% if user.id == post.author.id %}
            <small><a href = "{% url 'edit-article' post.pk %}"> (Edit) </a></small>
            <small><a href = "{% url 'delete-article' post.pk %}"> (delete) </a></small>
            {% endif %}
        {% endif %}
        <br/>

        {{post.snippet}}
    </li>

{% endfor %}
</ul>

{% endblock content %}