{% extends "base.html" %}

{% block title %}
Edit Profile Page
{% endblock title %}

{% block content %}


{% if user.is_authenticated %}
    {% if user.id == profile.user.id%}

        <h2>Editing Profile Page</h2>

        <div class = "form-group">
        <form method="POST" enctype = "multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}
            <button class="btn btn-outline-dark"> Update Profile Page </button>
        </form>
        </div>
    {% else %}
        <h2> You are not allowed </h2>
    {% endif %}
{% else %}

You are not allowed!!

{%endif%}

{% endblock content %}